body {
  margin: 40px auto;
  max-width: 800px;
  padding: 0 20px; /* Add padding to maintain margins on small screens */
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  font-family: 'LMSans10', serif; /* Use Latin Modern font */
}

.header {
  margin-bottom: 40px; /* Add space between header and content */
  text-align: center; /* Center the content */
}

h1, h2, h3
{
  line-height: 1.2
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center; /* Center the content */
}

.social-icons {
  margin-top: 20px;
  text-align: center; /* Center the content */
}

.social-icons a {
  text-decoration: none;
  color: #444;
  font-size: 30px;
  margin: 0 10px;
  transition: color 0.3s;
  text-align: center; /* Center the content */
}

.social-icons a:hover {
  color: #007bff;
}

/* Responsive styles */
@media (max-width: 768px) {
  body {
      font-size: 16px;
      padding: 0 15px; /* Adjust padding for medium screens */
  }
  
  .profile-picture {
      width: 120px;
      height: 120px;
  }
  
  .social-icons a {
      font-size: 24px;
      margin: 0 5px;
  }

  ol li a {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 14px;
      padding: 0 10px; /* Adjust padding for small screens */
  }
  
  .profile-picture {
      width: 100px;
      height: 100px;
  }
  
  .social-icons a {
      font-size: 20px;
      margin: 0 3px;
  }

  ol li a {
      font-size: 16px;
  }
}